<%- include('components/header') %>
    <div class="flexDisplay">
        <h1>The New York Times</h1>
        <a href="/">
            <button type="button" class="btn btn-primary">Back to Home</button>
        </a>
    </div>
    <div style="text-align: center;">
        <img src="/404.jpg" alt="404 Page">
        <p>Error 404 - Page Not Found</p>
        <h4 class="warning shadows">The page you requested could not be found.</h4>
    </div>

<%- include('components/footer') %>