<%- include('components/header') %>
    <div class="flexDisplay">
        <h1>Whole content of the Article</h1>
        <a href="/">
            <button type="button" class="btn btn-primary">Back to Home</button>
        </a>
    </div>
    <div class="flexDisplay">
        <%- include('components/card') %>
    </div>
<%- include('components/footer') %>